@keyframes glow {
    5% {
        background-color: $orange-glow;
    }
    10% {
        background-color: $yellow-glow;
    }
    60% {
        background-color: $orange-glow;
    }
    65% {
        background-color: $yellow-glow;
    }
    95% {
        background-color: $orange-glow;
    }
    100% {
        background-color: $yellow-glow;
    }
}