@font-face {
  font-family: "Nosifer";
  src: url("./../fonts/Nosifer/Nosifer-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Creepster";
  src: url("./../fonts/Creepster/Creepster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bones";
  src: url("./../fonts/4-dogs-font/4Dogs-VWV0.ttf") format("truetype");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.full {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-centered-vh {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-centered-h {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none !important;
}

.zero-opacity {
  opacity: 0 !important;
}

.reverse {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.btn {
  font-size: 2em;
  padding: 5px;
  font-family: "Creepster";
  color: #8a0303;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.btn:hover {
  background-color: #FCEF93;
}

@-webkit-keyframes glow {
  5% {
    background-color: #ffa500;
  }
  10% {
    background-color: #FCEF93;
  }
  60% {
    background-color: #ffa500;
  }
  65% {
    background-color: #FCEF93;
  }
  95% {
    background-color: #ffa500;
  }
  100% {
    background-color: #FCEF93;
  }
}

@keyframes glow {
  5% {
    background-color: #ffa500;
  }
  10% {
    background-color: #FCEF93;
  }
  60% {
    background-color: #ffa500;
  }
  65% {
    background-color: #FCEF93;
  }
  95% {
    background-color: #ffa500;
  }
  100% {
    background-color: #FCEF93;
  }
}

.sprites {
  position: absolute;
  max-width: 900px;
  width: 90%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sprite-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boy,
.girl {
  height: 226px;
  width: 270px;
  overflow: hidden;
  cursor: pointer;
}

.boy .attack {
  -webkit-animation: boy-attack 1s steps(8) 3;
          animation: boy-attack 1s steps(8) 3;
}

.boy .dead {
  -webkit-animation: boy-dead 1s steps(11) 1s forwards;
          animation: boy-dead 1s steps(11) 1s forwards;
}

.boy .idle {
  -webkit-animation: boy-idle 800ms steps(9) 500ms infinite;
          animation: boy-idle 800ms steps(9) 500ms infinite;
}

.girl .attack {
  -webkit-animation: girl-attack 1s steps(8) 3;
          animation: girl-attack 1s steps(8) 3;
}

.girl .dead {
  -webkit-animation: girl-dead 1s steps(11) 1s forwards;
          animation: girl-dead 1s steps(11) 1s forwards;
}

.girl .idle {
  -webkit-animation: girl-idle 800ms steps(9) infinite;
          animation: girl-idle 800ms steps(9) infinite;
}

@-webkit-keyframes boy-attack {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -1848px, 0);
            transform: translate3d(0, -1848px, 0);
  }
}

@keyframes boy-attack {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -1848px, 0);
            transform: translate3d(0, -1848px, 0);
  }
}

@-webkit-keyframes boy-dead {
  from {
    -webkit-transform: translate3d(0, -1850px, 0);
            transform: translate3d(0, -1850px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -4420px, 0);
            transform: translate3d(0, -4420px, 0);
  }
}

@keyframes boy-dead {
  from {
    -webkit-transform: translate3d(0, -1850px, 0);
            transform: translate3d(0, -1850px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -4420px, 0);
            transform: translate3d(0, -4420px, 0);
  }
}

@-webkit-keyframes boy-idle {
  from {
    -webkit-transform: translate3d(0, -4658px, 0);
            transform: translate3d(0, -4658px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes boy-idle {
  from {
    -webkit-transform: translate3d(0, -4658px, 0);
            transform: translate3d(0, -4658px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes girl-attack {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -1887px, 0);
            transform: translate3d(0, -1887px, 0);
  }
}

@keyframes girl-attack {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, -1887px, 0);
            transform: translate3d(0, -1887px, 0);
  }
}

@-webkit-keyframes girl-dead {
  from {
    -webkit-transform: translate3d(0, -1896px, 0);
            transform: translate3d(0, -1896px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -4726px, 0);
            transform: translate3d(0, -4726px, 0);
  }
}

@keyframes girl-dead {
  from {
    -webkit-transform: translate3d(0, -1896px, 0);
            transform: translate3d(0, -1896px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -4726px, 0);
            transform: translate3d(0, -4726px, 0);
  }
}

@-webkit-keyframes girl-idle {
  from {
    -webkit-transform: translate3d(0, -4966px, 0);
            transform: translate3d(0, -4966px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes girl-idle {
  from {
    -webkit-transform: translate3d(0, -4966px, 0);
            transform: translate3d(0, -4966px, 0);
  }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.glow-aniamtion {
  -webkit-animation: glow 3s ease infinite;
          animation: glow 3s ease infinite;
  position: relative;
}

.page {
  background: url("./../images/pumpkin.png") no-repeat center;
  background-size: cover;
  position: absolute;
}

.card, .initial-screen, .selected-player {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #666;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 50px;
  color: #fff;
}

/* Create and join card */
.initial-screen .title {
  font-size: 2em;
}

.initial-screen button,
.initial-screen input {
  margin: 10px auto;
  width: 100%;
}

.initial-screen input {
  font-size: 1.5em;
  padding: 5px;
}

/* Show selected player card */
.selected-player {
  padding: 20px;
  /* image added dynamically */
}

.selected-player .game-code-text,
.selected-player .player-number {
  font-size: 2em;
  margin: 10px auto;
  color: rgba(204, 204, 204, 0.5);
}

.selected-player .game-code-text > span {
  color: #fff;
}

.selected-player .player-profile {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 230px;
  height: 250px;
  width: 100%;
}

/* question input group */
.input-container {
  margin-top: 40vh;
}

.input-group {
  width: 900px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group input {
  font-family: "Nosifer", cursive;
  font-size: 2.5em;
  max-width: 220px;
  text-align: center;
  border: 1px solid #FCEF93;
  background-color: rgba(0, 0, 0, 0.7);
  color: #8a0303;
}

.input-group span {
  font-family: "Nosifer", cursive;
  font-size: 2.5em;
  color: #fff;
}

.input-group span.equals {
  font-size: 3em;
  padding-top: 14px;
}
/*# sourceMappingURL=main.css.map */